.contenant {
    position: relative;
    text-align: left;
    color: #1D67A9;
    
}
  
.texte_centrer {
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-family: 'Pattaya', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 278px;
    display: flex;
    align-items: left;
}

.house {
    display: flex;
    position: relative;
    width: 100%;

}

.punchlines {
    font-family: 'PT Serif Caption', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 278px;
    display: flex;
    align-items: left;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    

}

.button {
    font-weight: 600;
    margin: 50px 50px ;
    background-color: #1D67A9;
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.button1{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.button1:hover {
    color: #464646;
    text-decoration: none;
}