.contenant {
    position: relative;
    text-align: left;
    color: #1D67A9;
    
}
body {
    background-color: #EDF4F4;
}
.button1 {
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid white;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-radius: 2px;
    margin: 10px;
    position: absolute;
    top: 60%;
    left: 3%;

    
}
.button1:hover {
    text-decoration: none;
    color: #1d67a9;
    transition: 0.2s;
    border: 3px solid #1d67a9;
}
.texte_centrer {
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-family: 'Pattaya', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 278px;
    display: flex;
    align-items: left;
}

.house {
    display: flex;
    position: relative;
    width: 100%;
    
}

.punchlines {
    font-family: 'PT Serif Caption', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 278px;
    display: flex;
    align-items: left;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    

}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 250px;
    position: relative;
    left: 5%;
    margin-top: -1%;
    border: 1px solid #f1f1f1;
    perspective: 1000px; 
    display: flex;
    justify-content: space-between;
    
    
}
  

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}
  

.flip-card-front {
    background-color: whitesmoke;
    color: black;
    font-family: 'Mochiy Pop P One', sans-serif;
}
  

.flip-card-back {
    background-color: #1d67a9;
    color: orange;
    transform: rotateY(180deg);
    font-family: 'PT Serif Caption', serif;
}

.fa {

    color: #1d67a9;
}