.contenant {
    position: relative;
    text-align: left;
    color: #1D67A9;
    
}
body {
    background-color: #EDF4F4;
}
.button1 {
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid white;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-radius: 2px;
    margin: 10px;
    position: absolute;
    top: 60%;
    left: 3%;

    
}
.button1:hover {
    text-decoration: none;
    color: #1d67a9;
    transition: 0.2s;
    border: 3px solid #1d67a9;
}
.texte_centrer {
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-family: 'Pattaya', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 278px;
    display: flex;
    align-items: left;
}

.house {
    display: flex;
    position: relative;
    width: 100%;
    
}

.punchlines {
    font-family: 'PT Serif Caption', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 278px;
    display: flex;
    align-items: left;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    

}

.flip-card {
    background-color: transparent;
    width: 350px;
    height: 250px;
    position: relative;

    margin: 5% 0;
    border: 1px solid #f1f1f1;
    perspective: 1000px; 
    
    
    
}
  

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    border-radius: 10px;
}
  

.flip-card-front {
    background-color:#1d67a9 ;
    opacity: 0.7;
    color: white;
    font-family: 'Poppins', sans-serif;
}
  

.flip-card-back {
    background-color: white;
    color: rgb(46, 44, 41);
    transform: rotateY(180deg);
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.fa {

    color: #1d67a9;
}

.groupcard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}

.beuteu {
    color:white

}

#rectangle {

    background-color: white;
    width: 100%;
    height: auto;
    display: flex;
}

.photo {
    width: 650px;
    height: 500px;
}

.textequipe {
    text-align: center;
    position: relative; 
    top:130px;
    color: #343435 ;
    left: 80px;
    font-family: 'Poppins', sans-serif;
    padding: 0 20px;
    font-size: 35px;
}

@media (max-width:480px){
    .texte_centrer {
        position: absolute;
        top: 30%;
        left: 40%;
        transform: translate(-50%, -50%);
        font-family: 'Pattaya', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 100px;
        display: flex;
        align-items: left;
    }
    .punchlines {
        font-family: 'PT Serif Caption', serif;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 40px;
        display: flex;
        align-items: left;
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
        color: #FFFFFF;
        
    
    }

    .button1 {
        padding: 5px 10px;
        background-color: rgba(255, 255, 255, 0);
        border: 3px solid white;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        border-radius: 2px;
        margin: 10px;
        position: absolute;
        top: 60%;
        left: 3%;
    
        
    }
    .button1:hover {
        text-decoration: none;
        color: #1d67a9;
        transition: 0.2s;
        border: 3px solid #1d67a9;
    }

    .photo {
        
        width: 350px;
        height: 250px;
        position: relative;
        left: 15%;
        margin-top: 30px;
    }

    .textequipe {
        text-align: center;
        position: relative; 
        top:10px;
        right: 40px;
        color: black;
        font-family: 'Poppins', sans-serif;
        font-size: 10px;
        text-align: left;
    }

    #rectangle {

        background-color: white;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

}   